<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">

<resultMap type="kh.study.community.member.vo.MemberVO" id="member">
	<id column="MEMBER_ID" 			property="memberId"/>
	<result column="MEMBER_PW"	 	property="memberPw"/>
	<result column="MEMBER_NAME" 	property="memberName"/>
	<result column="MEMBER_TELL" 	property="memberTell"/>
	<result column="MEMBER_ROLE" 		property="memberRole"/>
	<result column="MEMBER_EMAIL" 	property="memberEmail"/>
	<result column="MEMBER_CREATE_DATE" 	property="memberCreateDate"/>
</resultMap>


<!--회원가입 -->
<insert id="join">
	INSERT INTO MEMBER (
			MEMBER_ID
			, MEMBER_PW
			, MEMBER_NAME
			, MEMBER_TELL
			, MEMBER_EMAIL
	)VALUES(
			#{memberId}
			, #{memberPw}
			, #{memberName}
			, #{memberTell}	  <!-- memberVO.getMemberTell(); -->
			, #{memberEmail}
	)

</insert>

<!-- 로그인  -->
<select id="login" resultMap="member">
<!-- security는 id, pw, role(권한)만 가져감  -->
	SELECT MEMBER_ID
		, MEMBER_PW
		, MEMBER_ROLE	
	FROM MEMBER
	WHERE MEMBER_ID = #{memberId}	<!-- 빈값 하나니까 이름 상관없음  -->
	
</select>


</mapper>
